services:
  effective:
    image: effective-api
    container_name: effective
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: unless-stopped
    networks:
      - backend
    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      DB_HOST: postgres:5432
      LOG_LVL: ${LOG_LVL}
    ports:
      - 8080:8080
    depends_on:
      - postgres
      
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: unless-stopped
    networks:
      - backend
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations/000001_init.up.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:

networks:
  backend:
    driver: bridge
